
<br>
<h2 id="journey_summaryi" class="border-linet">投稿者一覧</h2>
  <div id="container" class="boxt">
    <br>
    <div class="row">
      <div class="home-content">
       
        <div class="user-home">
          <% @users.each do |user| %>
           <% if user.is_withdrawal == false %>
            <div class="user-info">
              <%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no-image.jpg", size: "200x200" %>
                <div class="user-home-name"><%= user.name %></div>
                 <div class="user-home-name"><%= link_to  "プロフィール", user_path(user) %></div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
 
 