show

<li><%= link_to "plan作成", new_plan_path, class: "sign_in glyphicon glyphicon-log-in" %></li>

<li><%= link_to "plan一覧", plans_path, class: "sign_in glyphicon glyphicon-log-in" %></li>




  <%= link_to "退会する", users_withdrawal_path %>