<br>

  <div class="abut">
    <br>
    <h1 class="title">travel plusでできること</h1>
    <br>
    <h1 class="one">1.旅行に行くときに簡単な予定を立てられる</h1>
    <br>
    <h1 class="two">2.作成したplanを保存し、公開できる</h1>
    <br>
    <h1 class="three">3.他のuserが作成したplanを参考にできる</h1>
  </div>



