 <div class="col-xs-12">
   <div class="row">
      <div id="theTarget">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
      </div>
   </div>
 </div>

<br>
<div class="continer">
  <div class="row">
    <div class="home-content">
      <h1 class="user-h">users pick up</h1>
        <div class="user-home">
          <% @users.first(3).each do |user| %>
            <% if user.is_withdrawal == false %>
              
              <div class="user-info">
                <%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no-image.jpg", size: "200x200" %>
                <div class="user-home-name"><%= user.name %></div>
                <div class="user-home-name"><%= link_to  "プロフィール", user_path(user) %></div>
              </div>
              
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
 