/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";            /*ここを追加*/

* {
 

   
}

body {
width: 100%;
background-color: #EEEEEE;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

//ヘッダー関連
header {
  height: 70px;
 
}
div {
 flex: 1;
display: flex;
display: block;
}
main {
  flex:1;
}
//スケジュール
.border-line {
  font-size: 16px;
    background-color: #ffffff;
    /* color: #f40e0dad; */
    margin: 0 auto;
    /* margin-bottom: 20px; */
    padding: 0.6em 0.6rem 0.6rem 0.6em;
    /* padding-left: 10px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    font-size: x-large;
    border-bottom: 1px solid #f40e0dad;
     text-align: center; 

}
.box {
  background-color: #ffffff;
    overflow: hidden;
    max-width: 640px;
    margin: 0 auto;
    
}
.box .summary {
  max-width: 640px;
  margin: 0 auto;
}
.one-day {
  background-color: #fc948957;
    border-radius: 10px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
}

.scard {
  left: 10px;
    padding: 0.6em 0.6em 0.6em 1.2em;
    margin-left: 20px;
    margin-right: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #b7b7b733;
}
  .scard-line {
      margin-left: -6.2px;
}
.col-1 {
  flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
h5 {
  margin-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.scard-line {
border-right: 3px solid #dee2e6!important;
    border-right-width: 3px !important;
    border-right-style: dashed !important;
    border-right-color: #ff6d6d !important;
  
}
.form.text {
  textarea {
  width: 90%;
  margin-left: 30px;
  }
  sousin {
  margin-left: 30px;
  }
}
//plan_new
.form-summary {
  adding: 10px 5px 10px 5px;
    background-color: #ffff;
   
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.card {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
  flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.form-group {
  margin-bottom: 1rem;
}
//ここまで
//マイページ
.myroom {
  margin-top: 50px;
  text-align: center;
   background-color: #FFEEFF;
}
.myroom_btn {
  margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.profire {
   margin-left: 20px;
}
//ここまで

//plan一覧 
.index {
  text-align: center;
}
.top {
	background-color: #FFABCE;
   height: 20px;
}  
.under { 
	background-color: #110000;
  height: 50px; 
}
.d-flex justify-content-center {

}

//ヘッダーここまで

//メイン
main {
	
}
.new {
  text-align: center;
}

.plan {
  background-color: #faa;
}
.icon {}
.label {
background-color: #faa;
  
}
//フッター
footer {
height: 50px;
background-color: #110000;
color: #FF00FF;
text-align: center;
}


//スライド
#theTarget {
   width: 50%;
   height: 400px;
 }

 .image1 {
   background-image: url(image1.jpg);
   width: 100%;
 }
 .image2 {
   background-image: url(image2.jpg);
   width: 100%;
 }
 .image3 {
   background-image: url(image3.jpg);
   width: 100%;  
 }

 
