/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";            /*ここを追加*/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c'); /*font*/
@import url('https://fonts.googleapis.com/css?family=Kosugi');  /*font*/

* {
   
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
#error_explanation {
  margin-left: 320px;
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
.text {
  display: none;
}
.text01 {
  display: block;
}
.page {
  text-align: center;
}
.pagination{
display: inline-flex;
  padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

body {
width: 100%;
background-color: #f7f7f9;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

div {
 flex: 1;
display: flex;
display: block;
}
//メイン
main {
  flex:1;
}
.new {
  text-align: center;
}

.plan {
  background-color: #faa;
}
.label {
background-color: #faa;
  
}

//いいね機能
.iine {
  text-align:center;
}

//コメント機能
#comment_box.comment_box {
  text-align: center;
}
.sousin {
  text-align: center;
}
//ここまで
//ヘッダー関連
header {
  height: 150px;
  width: 100%;
  line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;      
 }
 .top {
  background-color: #FFABCE;
  height: 53px;
  width: 100%;
}
.logo {
   color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 2px;
}
.under { 
  background-color: #110000;
  height: 50px; 
   width: 100%;
}
.home {
  text-align: center;
  padding-top: 18px;
  color: #DA8E00;
}

.sign {
  text-align: center;
  padding-top: 10px;
  color: #DA8E00;
 
}
.kensaku {
  height: 30px;
  padding-top: 10px;
}
#search_model {
  height: 30px;
}
#search_method {
  height: 30px;
}
.search-form {
 text-align: center;
}

//ヘッダーここまで

//フッター
footer {
height: 55px;
background-color: #110000;
color: #FF00FF;
text-align: center;

line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;
       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}
.foot {
  padding-top: 15px;
}
//フッターここまで
//abut 

.abut {
  height: 430px;
  font-family: 'Kosugi', sans-serif;
}
.title {
background: linear-gradient(transparent 70%, #FFFF00 0%);
width: 470px;
margin-left:200px;
}
.one{
background: linear-gradient(transparent 70%, #FFFF00 0%);
margin-left:200px;
width: 810px;
margin-top: 15px;
}
.two {
background: linear-gradient(transparent 70%, #FFFF00 0%);
margin-left:200px;
width: 690px;
margin-top: 15px;
}
.three {
background: linear-gradient(transparent 70%, #FFFF00 0%);
margin-left:200px;
width: 770px;
margin-top: 15px;
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
//

//homeページ
.home-content {
   width: 98%;
}
.user-h {
  text-align: center;
   font-family: 'M PLUS Rounded 1c', sans-serif; 
}
.user-home {
  
  
}
.user-info {


  background-color: #fbe8e7;
    height: 300px;
    width: 300px;
    padding-top: 20px;
    padding-left: 45px;
    margin-left: 70px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid;
    border-color: coral;
}
.user-home-name {
  
}


//
//マイページ
.room {
  text-align: center;
}
.profire {
  margin-left: 30px;
}
.henkou {
  margin-left: 100px;
  margin-top: 20px;
}
#user_image {
  
}
.sakusei {
  margin-left: 150px;
}
.itirann {
   margin-left: 100px;
}
.myplan {
  background-color: #FFFFFF;
  border-bottom: 1px solid #f40e0dad;
  height: 40px;

}
.table thead th {
  text-align: center;
}
.table td {
  text-align: center;
}
//マイページここまで
//投稿
//一覧
.border-linet {
  font-size: 16px;
    background-color: #ffffff;
    /* color: #f40e0dad; */
    margin: 0 auto;
    /* margin-bottom: 20px; */
    padding: 0.6em 0.6rem 0.6rem 0.6em;
    /* padding-left: 10px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 800px;
    font-size: x-large;
    border-bottom: 1px solid #f40e0dad;
     text-align: center; 
}
.boxt {
  background-color: #ffffff;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    
}
.time and place {
  width: 400px;
}
//スケジュール
.border-line {
  font-size: 16px;
    background-color: #ffffff;
    /* color: #f40e0dad; */
    margin: 0 auto;
    /* margin-bottom: 20px; */
    padding: 0.6em 0.6rem 0.6rem 0.6em;
    /* padding-left: 10px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    font-size: x-large;
    border-bottom: 1px solid #f40e0dad;
     text-align: center; 

}
.box {
  background-color: #ffffff;
    overflow: hidden;
    max-width: 640px;
    margin: 0 auto;
    
}
.box .summary {
  max-width: 640px;
  margin: 0 auto;
}
.one-day {
  background-color: #fc948957;
    border-radius: 10px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
}

.scard {
    left: 10px;
    padding: 0.6em 0.6em 0.6em 1.2em;
    margin-left: 20px;
    margin-right: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #b7b7b733;
}
.scard-line {
      margin-left: -6.2px;
}
.col-1 {
  flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
h5 {
  margin-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.scard-line {
border-right: 3px solid #dee2e6!important;
    border-right-width: 3px !important;
    border-right-style: dashed !important;
    border-right-color: #ff6d6d !important;
  
}
.form.text {
  textarea {
  width: 90%;
  margin-left: 30px;
  }
  sousin {
  margin-left: 30px;
  }
}
.form-summary {
  adding: 10px 5px 10px 5px;
    background-color: #ffff;
   
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.card {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
  flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.form-group {
  margin-bottom: 1rem;
} 
.add {
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sinki {
  text-align: center;
}
.btn.btn-sucess {
  
}
.col-xs-6 btn btn-primary {
   margin-left: 400px;
}
//ここまで

//plan一覧 
.index {
  text-align: center;
 
}

//スライド
#theTarget {
   width: 50%;
   height: 400px;
 }

 .image1 {
   background-image: image-url("image1.jpg");
   width: 100%;
 }
 .image2 {
   background-image: image-url("image2.jpg");
   width: 100%;
 }
 .image3 {
   background-image: image-url("image3.jpg");
   width: 100%;  
 }
//新規登録 ログイン画面
.signup {
  text-align: center;
}
.actions {
 text-align: center;
}
.field {
 text-align: center;

}
 
//user 
//edit
.myroom_image {
  margin-left: 100px;
}