/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";            /*ここを追加*/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c'); /*font*/
@import url('https://fonts.googleapis.com/css?family=Kosugi');  /*font*/

* {
   
}
//マイページ
.room {
  text-align: center;
}
.room {
  align: center;
  width: 300px;
  position: relative;
  padding: 8px 15px;
   margin-left: auto;
    margin-right: auto;
  background: #def3ff;
  border-radius: 20px;
}

.room:before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900;
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #def3ff;
}

.room:after {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900;
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #def3ff;
}
.col-xs-4{
 text-align: center;
}

.itirann {
   margin-left: 100px;
}

.table thead th {
  text-align: center;
}
.table td {
  text-align: center;
}
//マイページここまで
.user-h {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}
.midasi {
  position: relative;/*相対位置*/
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  font-family: 'M PLUS Rounded 1c', sans-serif; 
}

.midasi:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #ff938b; /*アイコン色*/
}
.midasi-2 {
  margin-left: 5px;
}
/* セレクト */
select::-ms-expand {
  display: none;
}
select {
margin-bottom: 10px;
padding: 3px 30px 10px 20px;
font-size: 90%;
line-height: 1.1em;
border-radius: 5px;
border: none;
background-color: #FFCCCC;
}
/*ここまで*/

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
#error_explanation {
  margin-left: 320px;
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
.text {
  display: none;
}
.text01 {
  display: block;
}

.page {
  text-align: center;
}
.pagination{
display: inline-flex;
  padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

body {
width: 100%;
background-color: #f7f7f9;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

div {
 flex: 1;
display: flex;
display: block;
}
//メイン
main {
  flex:1;
}
.new {
  text-align: center;
}

.plan {
  background-color: #faa;
}
.label {
background-color: #faa;
  
}



//ヘッダー関連
header {
  height: 150px;
  width: 100%;
  line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;      
 }
 .top {
  background-color: #FFABCE;
  height: 53px;
  width: 100%;
}
.logo {
   color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 2px;
}
.under { 
  background-color: #110000;
  height: 50px; 
   width: 100%;
}
.home {
  text-align: center;
  padding-top: 18px;
  color: #DA8E00;
}

.sign {
  text-align: center;
  padding-top: 10px;
  color: #DA8E00;
 
}
.kensaku {
  height: 30px;
  padding-top: 10px;
}
#search_model {
  height: 30px;
}
#search_method {
  height: 30px;
}
.search-form {
 text-align: center;
}

//ヘッダーここまで

//フッター
footer {
height: 55px;
background-color: #110000;
color: #FF00FF;
text-align: center;

line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;
       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}
.foot {
  padding-top: 15px;
}
//フッターここまで
//abut 


.abut {
  height: 430px;
  font-family: 'Kosugi', sans-serif;
  text-align: center;
}
.title {
background: linear-gradient(transparent 70%, #FFFF00 0%);
width: 470px;

}
.one{
background: linear-gradient(transparent 70%, #FFFF00 0%);
width: 810px;
margin-top: 15px;
}
.two {
background: linear-gradient(transparent 70%, #FFFF00 0%);
width: 690px;
margin-top: 15px;
}
.three {
background: linear-gradient(transparent 70%, #FFFF00 0%);
width: 770px;
margin-top: 15px;
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
//

//homeページ
.home-content {
   width: 98%;
}
.user-h {
  text-align: center;
   font-family: 'M PLUS Rounded 1c', sans-serif; 
}
.user-home {
  
  
}
.user-info {


  background-color: #fbe8e7;
    height: 300px;
    width: 300px;
    padding-top: 20px;
    padding-left: 45px;
    margin-left: 70px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid;
    border-color: coral;
}
.user-home-name {
  
}



//スライド
#theTarget {
   width: 50%;
   height: 400px;
 }

 .image1 {
   background-image: image-url("image1.jpg");
   width: 100%;
 }
 .image2 {
   background-image: image-url("image2.jpg");
   width: 100%;
 }
 .image3 {
   background-image: image-url("image3.jpg");
   width: 100%;  
 }

 
//user 
//edit
.myroom_image {
  margin-left: 100px;
}