// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//新規登録 ログイン画面
.signup { 
  text-align: center;
}
.actions {
 text-align: center;
}
.field {
 text-align: center;

}

body {
width: 100%;
background-color: #fc948957;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}
.sakusei {
 
  margin-top: 20px;
  margin-bottom: 10px;
}
.henkou {
 
  margin-top: 20px;
}
.myplan {
  background-color: #FFFFFF;
  border-bottom: 1px solid #f40e0dad;
  height: 40px;
  text-align: center;

}
