<main>
  
  <%= form_for(@plan) do |f| %>
<div class="container" style="padding-left: 0px;padding-right: 0px;">
  <br>
  <h2 class="border-line">PLAN概要</h2>
    <div id="main_box" class="form-summary">
      <div id="summary_box">
        <div class="card">
          <div class="card-body">
              <div class="form-group">
                 <%= f.text_field :title,placeholder:"プランタイトル" %>
              </div>
              <div class="form-group">
                <%= f.text_area :introduction,placeholder:"内容(リンクなど)",:style=>"width:500px;" %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    
                     <%= f.submit "更新", class: "btn btn-primary" %>

<% end %>


                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>


 </div>
</div>
</main>
