<div class="container main">
  <div class="row">
  	<h3>plan</h3>
  	<table>
     <% @plans.each do |plan| %>
     <tr>
        <td><%= link_to plan.title,plan_path(plan)  %></td>
        <td><%= link_to "バイバイ", plan_path(plan.id), method: :delete, "data-confirm" => "プランを消しますか?" %></td>
     </tr>

     <% end %>
    </table>
  </div>
</div>